# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# config
telegram.json
firebase_config.json
firebase_storage_config.json

# env
/test-env/

# databases
database.csv
new.csv

# metadata MacOs
.DS_Store

# metadata photos gallery
/photos

# now in process 
constants.py

